* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Ariel','Hevetica Neue','Hevetica','sans-serif';
  font-size: 18px;
}

body {
  font-size: 24px;
  line-height: 32px;
  margin-left: 15%;
  width: 960px;
  background: #777;
}

header {

  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background: #ebebeb;
}

nav {

  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background-color: #ebebeb;
}

section {

     margin-bottom: 20px;

}

#left {

    float: left;
    padding: 20px;
    width: 495px;
    height: 300px;
    color: #777;
    background: #ebebeb;

}


#article {
    
    padding: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    color: #ebebeb;
    background: #777;

}

#article2 {
    
    padding: 5px;
    margin-top:10px;
    margin-right:25px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
  }

  #article3 {
    
    padding: 5px;
    margin-top:10px;
    margin-right:25px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
  }


aside {

    float: right;
    padding: 20px;
    width: 450px;
    height: 300px;
    color: #777;
    background: #ebebeb;
;

}

footer {
    clear: both;
    padding: 20px;
    color: #777;
    background: #ebebeb;

}